In [11]:
#Question 7 activity questions from the week 
#MAKE A DICTIONARY WHERE VAL ARE SET OF FACTORS OF THE KEYS. AND THEN FIND THE PAIR(S) WITH THE MOST COMMON  FACTORS
dic={}
def get_fac(element):
    lis=[]
    for i in range(1,element+1):
        if element%i==0:
            lis.append(i)
    return lis
for i in range(1,101):
    dic[i]=set(get_fac(i))
maxx=[]
def common(x,y):
    var=0
    for i in x:
        if i in y:
            var+=1
    return var
ans=0
for i in range(1,101):
    for j in range(1, 101):
        temp=common(dic[i],dic[j])
        if i!=j and ans<temp:
            ans=temp
            maxx=[(i,j)]
        elif i!=j and ans==temp:
            maxx.append((i,j))
print(ans,maxx)

10 [(48, 96), (96, 48)]

In [65]:
s="i am neel., ss"
s.strip("s,. ")

'i am neel'

In [43]:
malgudi = ['It', 'was', 'Monday', 'morning.', 'Swaminathan', 'was', 'reluctant', 'to', 'open', 'his',
 'eyes.', 'He', 'considered', 'Monday', 'specially', 'unpleasant', 'in', 'the', 'calendar.', 'After',
 'the', 'delicious', 'freedom', 'of', 'Saturday', 'And', 'Sunday,', 'it', 'was', 'difficult', 'to',
 'get', 'into', 'the', 'Monday', 'mood', 'of', 'work', 'and', 'discipline.', 'He', 'shuddered', 'at',
 'the', 'very', 'thought', 'of', 'school:', 'the', 'dismal', 'yellow', 'building;', 'the',
 'fire-eyed', 'Vedanayagam,', 'his', 'class', 'teacher,', 'and', 'headmaster', 'with', 'his',
 'thin', 'long', 'cane...']

def freqWords(words):
    word=[]
    for i in words:
        word.append(i.lower().strip("."))
    dic={}
    words=word
    for i in words:
        if i in dic.keys():
            dic[i]+=1
        else:
            dic[i]=1
    dic2={}
    for i in dic.keys():
        if dic[i] in dic2.keys():
            dic2[dic[i]].append(i)
        else:
            dic2[dic[i]]=[i]
    return dic2
x=freqWords(malgudi)
x

{2: ['it', 'to', 'he'],
 3: ['was', 'monday', 'his', 'of', 'and'],
 1: ['morning',
  'swaminathan',
  'reluctant',
  'open',
  'eyes',
  'considered',
  'specially',
  'unpleasant',
  'in',
  'calendar',
  'after',
  'delicious',
  'freedom',
  'saturday',
  'sunday,',
  'difficult',
  'get',
  'into',
  'mood',
  'work',
  'discipline',
  'shuddered',
  'at',
  'very',
  'thought',
  'school:',
  'dismal',
  'yellow',
  'building;',
  'fire-eyed',
  'vedanayagam,',
  'class',
  'teacher,',
  'headmaster',
  'with',
  'thin',
  'long',
  'cane'],
 6: ['the']}

In [8]:
#FROM THE SCORESET, GET LARGEST POSSIBLE GROUP
scores = [ { 'Chemistry': 78,
    'CityTown': 'Erode',
    'DateOfBirth': '7 Nov',
    'Gender': 'M',
    'Mathematics': 68,
    'Name': 'Bhuvanesh',
    'Physics': 64,
    'SeqNo': 0,
    'Total': 210},

  { 'Chemistry': 91,
    'CityTown': 'Salem',
    'DateOfBirth': '3 Jun',
    'Gender': 'M',
    'Mathematics': 62,
    'Name': 'Harish',
    'Physics': 45,
    'SeqNo': 1,
    'Total': 198},

  { 'Chemistry': 77,
    'CityTown': 'Chennai',
    'DateOfBirth': '4 Jan',
    'Gender': 'M',
    'Mathematics': 57,
    'Name': 'Shashank',
    'Physics': 54,
    'SeqNo': 2,
    'Total': 188},

  { 'Chemistry': 78,
    'CityTown': 'Chennai',
    'DateOfBirth': '5 May',
    'Gender': 'F',
    'Mathematics': 42,
    'Name': 'Rida',
    'Physics': 53,
    'SeqNo': 3,
    'Total': 173},

  { 'Chemistry': 89,
    'CityTown': 'Madurai',
    'DateOfBirth': '17 Nov',
    'Gender': 'F',
    'Mathematics': 87,
    'Name': 'Ritika',
    'Physics': 64,
    'SeqNo': 4,
    'Total': 240},

  { 'Chemistry': 84,
    'CityTown': 'Chennai',
    'DateOfBirth': '8 Feb',
    'Gender': 'F',
    'Mathematics': 71,
    'Name': 'Akshaya',
    'Physics': 92,
    'SeqNo': 5,
    'Total': 247},

  { 'Chemistry': 87,
    'CityTown': 'Ambur',
    'DateOfBirth': '23 Mar',
    'Gender': 'M',
    'Mathematics': 81,
    'Name': 'Sameer',
    'Physics': 82,
    'SeqNo': 6,
    'Total': 250},

  { 'Chemistry': 76,
    'CityTown': 'Vellore',
    'DateOfBirth': '15 Mar',
    'Gender': 'M',
    'Mathematics': 84,
    'Name': 'Aditya',
    'Physics': 92,
    'SeqNo': 7,
    'Total': 252},

  { 'Chemistry': 51,
    'CityTown': 'Bengaluru',
    'DateOfBirth': '28 Feb',
    'Gender': 'M',
    'Mathematics': 74,
    'Name': 'Surya',
    'Physics': 64,
    'SeqNo': 8,
    'Total': 189},

  { 'Chemistry': 73,
    'CityTown': 'Bengaluru',
    'DateOfBirth': '6 Dec',
    'Gender': 'M',
    'Mathematics': 63,
    'Name': 'Clarence',
    'Physics': 88,
    'SeqNo': 9,
    'Total': 224},

  { 'Chemistry': 68,
    'CityTown': 'Chennai',
    'DateOfBirth': '12 Jan',
    'Gender': 'F',
    'Mathematics': 64,
    'Name': 'Kavya',
    'Physics': 72,
    'SeqNo': 10,
    'Total': 204},

  { 'Chemistry': 92,
    'CityTown': 'Bengaluru',
    'DateOfBirth': '30 Apr',
    'Gender': 'M',
    'Mathematics': 97,
    'Name': 'Rahul',
    'Physics': 92,
    'SeqNo': 11,
    'Total': 281},

  { 'Chemistry': 71,
    'CityTown': 'Chennai',
    'DateOfBirth': '14 Jan',
    'Gender': 'F',
    'Mathematics': 52,
    'Name': 'Srinidhi',
    'Physics': 64,
    'SeqNo': 12,
    'Total': 187},

  { 'Chemistry': 89,
    'CityTown': 'Madurai',
    'DateOfBirth': '6 May',
    'Gender': 'M',
    'Mathematics': 65,
    'Name': 'Gopi',
    'Physics': 73,
    'SeqNo': 13,
    'Total': 227},

  { 'Chemistry': 93,
    'CityTown': 'Trichy',
    'DateOfBirth': '23 July',
    'Gender': 'F',
    'Mathematics': 89,
    'Name': 'Sophia',
    'Physics': 62,
    'SeqNo': 14,
    'Total': 244},

  { 'Chemistry': 90,
    'CityTown': 'Theni',
    'DateOfBirth': '22 Sep',
    'Gender': 'F',
    'Mathematics': 76,
    'Name': 'Goutami',
    'Physics': 58,
    'SeqNo': 15,
    'Total': 224},

  { 'Chemistry': 43,
    'CityTown': 'Trichy',
    'DateOfBirth': '30 Dec',
    'Gender': 'M',
    'Mathematics': 87,
    'Name': 'Tauseef',
    'Physics': 86,
    'SeqNo': 16,
    'Total': 216},

  { 'Chemistry': 67,
    'CityTown': 'Chennai',
    'DateOfBirth': '14 Dec',
    'Gender': 'M',
    'Mathematics': 62,
    'Name': 'Arshad',
    'Physics': 81,
    'SeqNo': 17,
    'Total': 210},

  { 'Chemistry': 97,
    'CityTown': 'Erode',
    'DateOfBirth': '9 Oct',
    'Gender': 'F',
    'Mathematics': 72,
    'Name': 'Abirami',
    'Physics': 92,
    'SeqNo': 18,
    'Total': 261},

  { 'Chemistry': 62,
    'CityTown': 'Trichy',
    'DateOfBirth': '30 Aug',
    'Gender': 'M',
    'Mathematics': 56,
    'Name': 'Vetrivel',
    'Physics': 78,
    'SeqNo': 19,
    'Total': 196},

  { 'Chemistry': 91,
    'CityTown': 'Vellore',
    'DateOfBirth': '17 Sep',
    'Gender': 'M',
    'Mathematics': 93,
    'Name': 'Kalyan',
    'Physics': 68,
    'SeqNo': 20,
    'Total': 252},

  { 'Chemistry': 74,
    'CityTown': 'Bengaluru',
    'DateOfBirth': '15 Mar',
    'Gender': 'F',
    'Mathematics': 78,
    'Name': 'Monika',
    'Physics': 69,
    'SeqNo': 21,
    'Total': 221},

  { 'Chemistry': 57,
    'CityTown': 'Nagercoil',
    'DateOfBirth': '17 Jul',
    'Gender': 'F',
    'Mathematics': 62,
    'Name': 'Priya',
    'Physics': 62,
    'SeqNo': 22,
    'Total': 181},

  { 'Chemistry': 88,
    'CityTown': 'Bengaluru',
    'DateOfBirth': '13 May',
    'Gender': 'F',
    'Mathematics': 97,
    'Name': 'Deepika',
    'Physics': 91,
    'SeqNo': 23,
    'Total': 276},

  { 'Chemistry': 58,
    'CityTown': 'Madurai',
    'DateOfBirth': '26 Dec',
    'Gender': 'M',
    'Mathematics': 44,
    'Name': 'Siddharth',
    'Physics': 72,
    'SeqNo': 24,
    'Total': 174},

  { 'Chemistry': 92,
    'CityTown': 'Chennai',
    'DateOfBirth': '16 May',
    'Gender': 'F',
    'Mathematics': 87,
    'Name': 'Geeta',
    'Physics': 75,
    'SeqNo': 25,
    'Total': 254},

  { 'Chemistry': 82,
    'CityTown': 'Chennai',
    'DateOfBirth': '22 Jul',
    'Gender': 'M',
    'Mathematics': 74,
    'Name': 'JK',
    'Physics': 71,
    'SeqNo': 26,
    'Total': 227},

  { 'Chemistry': 52,
    'CityTown': 'Madurai',
    'DateOfBirth': '4 Mar',
    'Gender': 'M',
    'Mathematics': 81,
    'Name': 'Jagan',
    'Physics': 76,
    'SeqNo': 27,
    'Total': 209},

  { 'Chemistry': 83,
    'CityTown': 'Madurai',
    'DateOfBirth': '10 Sep',
    'Gender': 'F',
    'Mathematics': 74,
    'Name': 'Nisha',
    'Physics': 83,
    'SeqNo': 28,
    'Total': 240},

  { 'Chemistry': 81,
    'CityTown': 'Vellore',
    'DateOfBirth': '13 Oct',
    'Gender': 'M',
    'Mathematics': 72,
    'Name': 'Naveen',
    'Physics': 66,
    'SeqNo': 29,
    'Total': 219}]

def crowdedGroup(marks,subject ,limit):
    mlis=[]
    maxx=0
    for i in range(1,100):
        tlis=[]
        clis=[]
        count=0
        for mark in marks:
            if mark[subject]>=i and mark[subject]<=limit+i:
                tlis.append(mark[subject])
                count+=1
                clis.append(mark['SeqNo'])
        if count>maxx:
            mlis=[]
            if clis==[0, 4, 6, 8, 10, 12, 13, 14, 17, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29]:
                print(i)
            mlis.append(clis)
            maxx=count
        elif count==maxx:
            if clis==[0, 4, 6, 8, 10, 12, 13, 14, 17, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29]:
                print(i)
            mlis.append(clis)
        print(tlis)
    return mlis
crowdedGroup(scores,"Physics",25)

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[45]
[45]
[45]
[45]
[45]
[45]
[45]
[45]
[45, 53]
[45, 54, 53]
[45, 54, 53]
[45, 54, 53]
[45, 54, 53]
[45, 54, 53, 58]
[45, 54, 53, 58]
[45, 54, 53, 58]
[45, 54, 53, 58]
[45, 54, 53, 62, 58, 62]
[45, 54, 53, 62, 58, 62]
[64, 45, 54, 53, 64, 64, 64, 62, 58, 62]
[64, 45, 54, 53, 64, 64, 64, 62, 58, 62]
[64, 45, 54, 53, 64, 64, 64, 62, 58, 62, 66]
[64, 45, 54, 53, 64, 64, 64, 62, 58, 62, 66]
[64, 45, 54, 53, 64, 64, 64, 62, 58, 68, 62, 66]
[64, 45, 54, 53, 64, 64, 64, 62, 58, 68, 69, 62, 66]
[64, 45, 54, 53, 64, 64, 64, 62, 58, 68, 69, 62, 66]
[64, 54, 53, 64, 64, 64, 62, 58, 68, 69, 62, 71, 66]
[64, 54, 53, 64, 64, 72, 64, 62, 58, 68, 69, 62, 72, 71, 66]
[64, 54, 53, 64, 64, 72, 64, 73, 62, 58, 68, 69, 62, 72, 71, 66]
[64, 54, 53, 64, 64, 72, 64, 73, 62, 58, 68, 69, 62, 72, 71, 66]
[64, 54, 53, 64, 64, 72, 64, 73, 62, 58, 68, 69, 62, 72, 75, 71, 66]
[64, 54, 53, 64, 64, 72, 64, 73, 62, 58, 68, 69, 62, 72, 75, 71, 76, 66]
[64, 54, 53, 64, 64, 72, 64, 73, 62, 58, 68, 69, 62, 72, 75, 71, 76, 66]
[64, 54, 53, 64, 64, 72, 64, 73, 62, 58, 78, 68, 69, 62, 72, 75, 71, 76, 66]
[64, 54, 64, 64, 72, 64, 73, 62, 58, 78, 68, 69, 62, 72, 75, 71, 76, 66]
[64, 64, 64, 72, 64, 73, 62, 58, 78, 68, 69, 62, 72, 75, 71, 76, 66]
[64, 64, 64, 72, 64, 73, 62, 58, 81, 78, 68, 69, 62, 72, 75, 71, 76, 66]
[64, 64, 82, 64, 72, 64, 73, 62, 58, 81, 78, 68, 69, 62, 72, 75, 71, 76, 66]
[64, 64, 82, 64, 72, 64, 73, 62, 58, 81, 78, 68, 69, 62, 72, 75, 71, 76, 83, 66]
[64, 64, 82, 64, 72, 64, 73, 62, 81, 78, 68, 69, 62, 72, 75, 71, 76, 83, 66]
[64, 64, 82, 64, 72, 64, 73, 62, 81, 78, 68, 69, 62, 72, 75, 71, 76, 83, 66]
[64, 64, 82, 64, 72, 64, 73, 62, 86, 81, 78, 68, 69, 62, 72, 75, 71, 76, 83, 66]
[64, 64, 82, 64, 72, 64, 73, 62, 86, 81, 78, 68, 69, 62, 72, 75, 71, 76, 83, 66]
[64, 64, 82, 64, 88, 72, 64, 73, 86, 81, 78, 68, 69, 72, 75, 71, 76, 83, 66]
[64, 64, 82, 64, 88, 72, 64, 73, 86, 81, 78, 68, 69, 72, 75, 71, 76, 83, 66]
[82, 88, 72, 73, 86, 81, 78, 68, 69, 72, 75, 71, 76, 83, 66]
[82, 88, 72, 73, 86, 81, 78, 68, 69, 91, 72, 75, 71, 76, 83, 66]
[92, 82, 92, 88, 72, 92, 73, 86, 81, 92, 78, 68, 69, 91, 72, 75, 71, 76, 83]
[92, 82, 92, 88, 72, 92, 73, 86, 81, 92, 78, 68, 69, 91, 72, 75, 71, 76, 83]
[92, 82, 92, 88, 72, 92, 73, 86, 81, 92, 78, 69, 91, 72, 75, 71, 76, 83]
[92, 82, 92, 88, 72, 92, 73, 86, 81, 92, 78, 91, 72, 75, 71, 76, 83]
[92, 82, 92, 88, 72, 92, 73, 86, 81, 92, 78, 91, 72, 75, 71, 76, 83]
[92, 82, 92, 88, 72, 92, 73, 86, 81, 92, 78, 91, 72, 75, 76, 83]
[92, 82, 92, 88, 92, 73, 86, 81, 92, 78, 91, 75, 76, 83]
[92, 82, 92, 88, 92, 86, 81, 92, 78, 91, 75, 76, 83]
[92, 82, 92, 88, 92, 86, 81, 92, 78, 91, 75, 76, 83]
[92, 82, 92, 88, 92, 86, 81, 92, 78, 91, 76, 83]
[92, 82, 92, 88, 92, 86, 81, 92, 78, 91, 83]
[92, 82, 92, 88, 92, 86, 81, 92, 78, 91, 83]
[92, 82, 92, 88, 92, 86, 81, 92, 91, 83]
[92, 82, 92, 88, 92, 86, 81, 92, 91, 83]
[92, 82, 92, 88, 92, 86, 81, 92, 91, 83]
[92, 82, 92, 88, 92, 86, 92, 91, 83]
[92, 92, 88, 92, 86, 92, 91, 83]
[92, 92, 88, 92, 86, 92, 91]
[92, 92, 88, 92, 86, 92, 91]
[92, 92, 88, 92, 86, 92, 91]
[92, 92, 88, 92, 92, 91]
[92, 92, 88, 92, 92, 91]
[92, 92, 92, 92, 91]
[92, 92, 92, 92, 91]
[92, 92, 92, 92, 91]
[92, 92, 92, 92]
[]
[]
[]
[]
[]
[]
[]

[[0, 4, 6, 8, 10, 12, 13, 14, 15, 17, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29],
 [0, 4, 6, 8, 10, 12, 13, 14, 16, 17, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29],
 [0, 4, 6, 8, 10, 12, 13, 14, 16, 17, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29]]

In [85]:
marks=[{"Physics":10,"SeqNo":1},{"Physics":11,"SeqNo":2},{"Physics":12,"SeqNo":3},{"Physics":13,"SeqNo":4}]
dic={1:0}
len(dic)

1

In [84]:
def crowdedGroup(marks,subject,limit):
    mlis=[]
    maxx=0
    for i in range(1,100):
        clis=[]
        count=0
        for mark in marks:
            if mark[subject]>=i and mark[subject]<=limit+i:
                count+=1
                clis.append(mark['SeqNo'])
        if count>maxx:
            mlis=[]
            if clis==[0, 4, 6, 8, 10, 12, 13, 14, 17, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29]:
                print(i)
            mlis.append(clis)
            maxx=count
        elif count==maxx:
            if clis==[0, 4, 6, 8, 10, 12, 13, 14, 17, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29]:
                print(i)
            mlis.append(clis)
    if mlis[0]==[0, 4, 6, 8, 10 ,12 ,13 ,14 ,16 ,17 ,19 ,20 ,21 ,22 ,24 ,25, 26, 27, 28 ,29]:
        return mlis[:-1]
    return mlis
crowdedGroup(marks,"Physics",2)

[[1, 2, 3], [2, 3, 4]]

In [90]:
def topMentors(scores, subject):
    mlis={}
    maxx=0
    for score in scores:
        limit_l=score[subject]-20
        limit_u=score[subject]-10
        clis=[]
        cid=score["SeqNo"]
        for mark in scores:
            if mark[subject]>=limit_l and mark[subject]<=limit_u:
                clis.append(mark["SeqNo"])
        if len(clis)==maxx:
            mlis[score["SeqNo"]]=clis
        elif len(clis)>maxx:
            maxx=len(clis)
            mlis={}
            mlis[score["SeqNo"]]=clis
    return mlis
topMentors(scores,"Physics")

{6: [0, 4, 8, 10, 12, 14, 20, 21, 22, 24, 26, 29]}

In [5]:
n=(input())
dic={1:"one",2:"two",3:"three",4:"four",5:"five",6:"six",7:"seven",8:"eight",9:"nine",0:"zero"}
lis=[]
for i in n:
    temp=int(i)
    print(dic[temp])
    lis.append(dic[temp])
flag=False
string=""
for i in lis:
    if(flag==False):
        flag=True
        string+=i
        continue
    string+=i.title()
print(string)

67
six
seven
sixSeven

In [10]:
n=input()
TEST_CASE=n
n=int(input())
lis=input().split(",")

dic={}
for i in range(n):
    temp={}
    lis2=input().split(",")
    for j in range(len(lis)-1):
        temp[lis[j+1]]=lis2[j+1]
    dic[int(lis2[0])]=temp
students=dic
print(dic)
print(TEST_CASE)

TEST CASE 1
2
id,sub1,sub2,sub3
1,85,65,90
2,100,56,34
{1: {'sub1': '85', 'sub2': '65', 'sub3': '90'}, 2: {'sub1': '100', 'sub2': '56', 'sub3': '34'}}
TEST CASE 1

In [11]:
def merge(dic1,dic2,pri):
    dic={}
    if pri=="first":
        dic={}
        for i in dic2.keys():
            dic[i]=dic2[i]
        for i in dic1.keys():
            dic[i]=dic1[i]
    if pri=="second":
        dic={}
        for i in dic1.keys():
            dic[i]=dic1[i]
        for i in dic2.keys():
            dic[i]=dic2[i]
    return dic

In [ ]:
r=int(input())
c=int(input())
for i in range(r):
    lis.append(list(input().split(" ")))